.Home {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;

}

.buttom {
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: #C5003E;
    border-width: 0;
    color: white;
}


